<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main_nav.css" />
  </head>
  <body>
    <div id="main_nav976">
      <div id="main_nav976_00">
        <div id="main_nav976_01">
          <img onclick="gotohome()" src="../images/image_logo.JPG" alt="" />
        </div>

        <div id="main_nav976_02">
          <img id="search_logo" src="../images/search icon.png" alt="" />
          <div>
            <input
              id="search_boxx"
              type="text"
              placeholder="Search for products or brands"
            />
          </div>
        </div>

        <div id="main_nav976_03">
          <div>
            <div id="main_nav976_031">Hi, Vishal</div>
            <div>
              <img id="down_arrow" src="../images/down_arrow.png" alt="" />
            </div>
          </div>
          <div id="main_nav976_032">
            <img src="../images/cart logo.JPG" alt="" />
          </div>
        </div>
      </div>
      <hr />
      <!-- 0000000000000000000000000000000000000000000000000 -->
      <div id="main_nav976_10">
        <div class="dropdown"><p>Clearance</p><div class="dropdown-content">
          <!-- <p>Hello World!</p> -->
          <div class="c">
            <div><h3>Clearance: Get Inspired</h3></div>
            <hr>
            <div><h3>Extra 60% off Clearance Shoes</h3></div>
            <div><h3>25% Off Barefoot Dreams Throws</h3></div>
            <div><h3>Best Sellers</h3></div>
            <div><h3>Exta 60% off Clearance Shoes</h3></div>
            <div><h3>New Markdowns</h3></div>
          </div>
          <div class="c">
            <div><h3>Women</h3></div>
            <p>Clothing</p>
            <p>Shoes</p>
            <p>Handbags</p>
            <p>Sunglasses & Eyewear</p>
            <p>Jewelry</p>
            <p>Watches</p>
            <p>Accessories</p>
          </div>
          <div class="c">
            <div><h3>Men</h3></div>
            <p>Clothing</p>
            <p>Shoes</p>
            <p>Watches</p>
            <p>Accessories</p>
            <div><h3>Desiner</h3></div>
          </div>
          <div class="c">
            <div><h3>Kids</h3></div>
            <p>Girl's Clothing</p>
            <p>Girl's Shoes</p>
            <p>Boy's Clothing</p>
            <p>Boys's Shoes</p>
            <p>Kids' Shoes</p>
            <p>Baby Clothing & Shoes</p>
            <div><h3>Activewear</h3></div>
          </div>
          <div class="c">
            <div><h3>Home</h3></div>
            <p>Art & Wall Decor</p>
            <p>Bath</p>
            <p>Bedding</p>
            <p>Decor</p>
            <p>Electronic & Tech Accessories</p>
            <p>Kitchen & Tabletop</p>
            <p>Storage & Cleaning</p>
            <div><h3>Beauty</h3></div>
          </div>
          <div class="c"></div>
        </div>
      </div>
      <!-- 00000000000000000000000000000000000000000000000000000000 -->
        <div class="dropdown"><p>Women</p>
          <div class="dropdown-content">
            <!-- <p>Hello World!</p> -->
            <div class="c">
              <div><h3>Women: Get Inspired</h3></div>
              <hr>
              <div><h3>Extra 60% off Clearance Shoes</h3></div>
              <div><h3>Flash Events</h3></div>
              <div><h3>New Arrivals</h3></div>
              <div><h3>Best Sellets</h3></div>
              <div><h3>Contemporary brands</h3></div>
              <div><h3>Trend brands</h3></div>
              <div><h3>Dresses Under $50</h3></div>
              <div><h3>Denim Under $50</h3></div>
              <div><h3>Sandals Under $50</h3></div>
              <div><h3>Boots Under $50</h3></div>
              <div><h3>Dresses Under $50</h3></div>
              <div><h3>Sneakers Under $50</h3></div>
              <div><h3>Sweaters Under $50</h3></div>
              <div><h3>Coats Under $50</h3></div>

            </div>
            <div class="c">
              <div><h3>Clothing</h3></div>
              <p>Activewear</p>
              <p>Blazers</p>
              <p>Coats & Jackets</p>
              <p>Dresses</p>
              <p>Jeans & Denim</p>
              <p>Jumpsuits & Rompers</p>
              <p>Lingerie, Hosiery & Shapewear</p>
              <p>Loungewear</p>
              <p>Pants & Leggings</p>
              <p>Shorts</p>
              <p>Skirts</p>
              <p>Sleepwear & Robes</p>
              <p>Sweaters</p>
              <p>Sweatshirts & Hoodies</p>
              <p>Swimsuits & Cover-Ups</p>
              <p>Tops</p>
            </div>
            <div class="c">
              <div><h3>Shoes</h3></div>
              <p>Athletic & Running</p>
              <p>Boot& Booties</p>
              <p>Clogs</p>
              <p>Comfort</p>
              <p>Flats</p>
              <p>Flip-Flops & Slides</p>
              <p>Heels</p>
              <p>Loafers & Oxfords</p>
              <p>Mules</p>
              <p>Rain Boots</p>
              <p>Sandals</p>
              <p>Slippers</p>
              <p>Sneakers</p>
              <p>Winter & Snow Boots</p>
              <p>Wedges</p>
              <p>Extended Shoe Sizes & Widths</p>
            </div>
            <div class="c">
              <div><h3>Young Adult</h3></div>
             <p>Accessories</p>
             <p>Clothing</p>
             <p>Shoes</p>
              <div><h3>Desiner</h3></div>
              <p>Desiner Accessories</p>
              <p>Desiner Bags</p>
              <p>Desiner Clothing</p>
              <p>Desiner Shoes</p>
              <p>Desiner Sunglasses & Eyewear</p>
              <div><h3>Handbags</h3></div>
              <div><h3>Sunglasses & Eyewear</h3></div>
              <div><h3>Jewelry & Watches</h3></div>
              <div><h3>Accessories</h3></div>
              <div><h3>Beauty</h3></div>
            </div>
            <div class="c">
              <div><h3>Shop by Occasion</h3></div>
              <p>Casual Weekend</p>
              <p>Home</p>
              <p>Bedding</p>
              <p>Decor</p>
              <p>Electronic & Tech Accessories</p>
              <p>Kitchen & Tabletop</p>
              <p>Storage & Cleaning</p>
              <div><h3>Beauty</h3></div>
            </div>
            <div class="c"></div>
          </div>
        </div>
        <div class="dropdown"><p>Men</p></div>
        <div class="dropdown"><p>Kids</p></div>
        <div class="dropdown"><p>Shoes</p></div>
        <div class="dropdown"><p>Activewear</p></div>
        <div class="dropdown"><p>Bags&Accessories</p></div>
        <div class="dropdown"><p>Home</p></div>
        <div class="dropdown"><p>Beauty</p></div>
        <div class="dropdown"><p>Gifts</p></div>
        <div class="dropdown"><p>Flash Events</p></div>

        <!-- <p>Clearance</p>
        <p>Women</p>
        <p>Men</p>
        <p>Kids</p>
        <p>Shoes</p>
        <p>Activewear</p>
        <p>Bags&Accessories</p>
        <p>Home</p>
        <p>Beauty</p>
        <p>Gifts</p>
        <p>Flash Events</p> -->
     
     
    </div>
  </body>
</html>
