#kids_parent_div_299{
    /* border: 1px solid red; */
    width: 97%;
    margin: auto;
    font-size: 17px;
    color: #393939;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
#kids_side_navbar_299{
    width: 14%;
    /* border: 1px solid teal; */
    padding: 10px;
    position: sticky;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    height: 800px;
    top: 0;
}
::-webkit-scrollbar{
    width: 5px;
    /* height: 70px; */
}

::-webkit-scrollbar-track{
    background:rgb(255, 255, 255)
}
::-webkit-scrollbar-thumb{
    background: rgb(208, 198, 198);
}

#kids_side_navbar_299>hr{
    width: 100%;
    /* height: 1px solid green; */
    /* color: red; */
    
}
#kids_side_navbar_299>p{
    margin: 22px 0px;
}
#kids_data_299{
    /* border: 2px solid green; */
    width: 83.5%;
    display: grid;
    /* height: 100%; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(,500px); */
    /* gap: 2%; */

}
#kids_data_299>div{
    /* border: 1px solid black; */
    margin-right: 20px;
}
#kids_data_299>div>p{
    font-weight: 500;
}
#kids_data_299>div>p:nth-child(2){
    font-weight: bold;
    margin-bottom: -10px;
}
#kids_data_299>div>p:nth-child(4){
    font-weight: 900;
    font-size: 19px;
    margin-top: -10px;
}
#kids_data_299>div>img{
    width: 100%;
    height:78% ;
    /* border: 1px solid red; */
}
#kids_side_navbar_299>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#kids_side_navbar_299>div>i{
    font-size: 15px;
    color: gray;
}
#kids_side_navbar_299>div:hover{
    cursor: pointer;
}