#men_parent_div_299{
    width: 97%;
     margin: auto;
     /* border: 1px solid red; */
     font-size: 16px;
     display: flex;
     justify-content: space-between;
    color:#393939;
     
}
#side_navbar_299>a:nth-child(3){
    text-decoration: underline;
    color: #00819D;
   }
#right_299{
    /* border: 1px solid black; */
    width:82% ;
}

#child_one_299{
    display: grid;
    /* border: 1px solid teal; */
    /* 380px 430px */
    grid-template-columns: repeat(3,380px);
    /* grid-template-rows: repeat(4,430px); */
    gap: 2%;
}
#child_one_299>div{
    /* border: 1px solid red; */
    margin-left: 0px;
    line-height: 0px;
}
#child_one_299>div>img{
    width: 100%;
}
#child_one_299>div>img:hover{
    cursor: pointer;
}
.heading_299{
    font-size: 21px;
    /* font-weight: 700; */
    line-height: 5px;
}
.heading_299:nth-child(1){
    font-weight: 700;
    font-size: 21px;
    
}
#right_299>p:nth-child(3){
    margin-bottom: 50px;
}
.child_two_299{
    margin-top: 50px;
    border: 1px solid grey;
    width: 320px;
    height: 350px;
    padding: 20px;
    padding-right: 35px;
    border-radius: 7px;

}
.child_two_299>p{
    
    font-size: 17px;
    color:#393939;
    line-height: 40px;
}
.child_two_299>h3{
    text-align: center;
    font-size: 22px;
}
.Upcoming_ent_299{
    margin-top: 150px;
    font-size: 21px;
}